variables:
  STAGE_IMAGE_NAME: "source-code-dev"
  STAGE_CONTAINER_NAME: "source-code-dev"
  STAGE_PORT: "5001"
  APP_PORT_INTERNAL: "9000"

stages:
  - build-dev
  - deploy-dev

build:
  stage: build-dev
  script:
    - echo "Building Docker image..."
    - docker build -t "$STAGE_IMAGE_NAME:$CI_PIPELINE_ID" .
  tags:
    - shell-runner
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'

deploy:
  stage: deploy-dev
  script:
    - echo "Deploying container..."
    - docker rm -f "$STAGE_CONTAINER_NAME" || true
    - docker run -d --name "$STAGE_CONTAINER_NAME" -p "$STAGE_PORT:$APP_PORT_INTERNAL" --restart always --security-opt no-new-privileges:true --cap-drop ALL "$STAGE_IMAGE_NAME:$CI_PIPELINE_ID"
  tags:
    - shell-runner
  rules:
    - if: '$CI_COMMIT_BRANCH == "dev"'
  needs:
    - job: build